/* Write your CSS code here */
.home-container {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    justify-content: flex-start;
  }
}

.home-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-website-logo {
  width: 120px;
}

@media (min-width: 576px) {
  .home-website-logo {
    width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .home-website-logo {
    width: 200px;
  }
}

.nav-logout-image {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .nav-logout-image {
    display: none;
  }
}

@media (min-width: 576px) {
  .nav-logout-image {
    width: 40px;
  }
}

.home-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: 550;
  font-size: 40px;
  text-align: center;
}

@media (min-width: 576px) {
  .home-heading {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) {
  .home-heading {
    text-align: left;
  }
}

.home-image {
  width: 70%;
}

@media (min-width: 576px) {
  .home-image {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .home-image {
    display: none;
  }
}

.home-image-lg {
  display: none;
  width: 40%;
}

@media screen and (min-width: 768px) {
  .home-image-lg {
    display: inline;
  }
}

.home-description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 576px) {
  .home-description {
    font-size: 22px;
  }
}

.shop-now-button {
  background-color: #0967d2;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
}

@media (min-width: 576px) {
  .shop-now-button {
    font-size: 22px;
    width: 220px;
    height: 45px;
  }
}

.logout-button {
  display: none;
  color: #ffffff;
  background-color: #0967d2;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  width: 180px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .logout-button {
    display: inline;
  }
}

.home-lg-nav {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home-lg-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

.clothes-container {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .clothes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .home-heading-container {
    text-align: left;
    margin-right: 40px;
  }
}
